<%- include("header")-%>
    <div class="box" id="heading">
        <h1><%= kindday%></h1>
    </div>
    <div class="box">
        <%  for(var i=0;i<newListItem.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%=newListItem[i]%></p>
        </div>
            <% } %>
            <form action="/" method="POST">
                <input type="text" name="item" placeholder="New Item " autocomplete="off">
                <button type="submit" name="button" value="<%=kindday%>">+</button>
            </form> 
    </div>
    <%- include("footer")-%>
   
    

 